@media screen, print {
  .card-select {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3rem;
    border-radius: 10px;
    padding: 0.5rem;
  }

  .card-select.unselected {
    background-color: #D1D5DB;
    color: black;
  }

  .card-select.selected {
    background-color: var(--primary);
    color: white;
  }

  .card-select input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  .card-select img {
    display: inline;
    margin-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }

  .card-select label {
    text-align: center;
    cursor: pointer;
  }
}